.chose_lesson .gap {
  height: 50px;
}
.chose_lesson .header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chose_lesson .back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.chose_lesson .wrapper_unit {
  margin-top: 20px;
  text-align: left;
}

.chose_lesson .input_unit {
  position: relative;
  padding: 15px;
  display: block;
  line-height: 35px;
  border: solid 2px black;
  border-bottom: none;
}

.chose_lesson .input_unit.first_input {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.chose_lesson .input_unit.last_input {
  border: solid 2px black;
  border-radius: 0 0 10px 10px;
}

.chose_lesson .unit_name {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
}

.chose_lesson .review-status {
  height: 5vh;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  color: #888;
}

.chose_lesson .card {
  min-height: 85%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chose_lesson .action_to_lesson {
  background-color: white;
  border: none;
  padding: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.chose_lesson .action_to_lesson svg {
  width: 25px;
  height: 25px;
  color: black;
}
