/* Gap at the bottom of the lesson list */
.chose_lesson .gap {
  height: 50px;
}

/* Header styling */
.chose_lesson .header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Back button styling */
.chose_lesson .back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Wrapper for the lesson units */
.chose_lesson .wrapper_unit {
  margin-top: 20px;
  text-align: left;
}

/* General styling for lesson input units */
.chose_lesson .input_unit {
  /* position: relative; */
  padding: 8px;
  /* display: block; */
  line-height: 24px;
  border-bottom: none;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.chose_lesson .input_unit.false {
  display: block;
}

.chose_lesson .input_unit input[type='radio'] {
  flex: 0 0 auto;
  margin-right: 8px;
}

.chose_lesson .input_unit p {
  flex: 1;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* اجازه می‌دهد متن در صورت نیاز شکسته شود */
}

/* Styling for the first input unit */
.chose_lesson .input_unit.first_input {
  border-bottom: none;
}

.chose_lesson .title_lesson_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

/* .chose_lesson .title_lesson {
  margin-left: 5px;
} */

/* Styling for level_0 input units */
.chose_lesson .input_unit.level_0 {
  position: relative;
  padding: 15px;
  display: block;
  line-height: 35px;
  border: solid 2px black;
  border-bottom: none;
}

/* Styling for the first level_0 input unit */
.chose_lesson .input_unit.first_input.level_0 {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

/* Styling for the last level_0 input unit */
.chose_lesson .input_unit.last_input.level_0 {
  border: solid 2px black;
  border-radius: 0 0 10px 10px;
}

/* Styling for the unit name */
.chose_lesson .unit_name {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
}

/* Review status styling */
.chose_lesson .review-status {
  height: 5vh;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  color: #888;
}

/* Card styling */
.chose_lesson .card {
  min-height: 85%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Action button styling */
.chose_lesson .action_to_lesson {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 13px;
  /* position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */

  flex: 0 0 auto;
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

/* SVG icon styling for action button */
.chose_lesson .action_to_lesson svg {
  width: 25px;
  height: 25px;
  color: black;
}
