.bottom_actions {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_actions .action-btn {
  padding: 10px;
  background: none;
  width: 200px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #1a73e8;
}

.bottom_actions .action-btn[disabled] {
  color: #535353;
  cursor: default;
}

.bottom_actions .btn_left {
  text-align: left;
}

.bottom_actions .btn_right {
  text-align: right;
}

.bottom_actions .action-btn svg {
  margin-bottom: -4px;
}
