.main_page {
  max-height: 100vh;
  position: relative;
}

.main_page .app_header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.main_page .app_name {
}

.main_page .show_icon {
  border: none;
  background-color: white;
  padding: 20px;
  font-size: 20px;
}
.main_page .app_name h2 {
  background-color: white;
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.main_page .container {
  padding: 50px 0 0 0;
}
.main_page .btn {
  background-color: white;
  /* border: none; */
  width: 100%;
  margin: 0px;
  padding: 40px 10px;
  font-size: 20px;
}

.main_page .top_btn {
  margin-top: 50px;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.main_page .bottom_btn {
  border-radius: 0 0 10px 10px;
}

.main_page .middle_btn {
  border-bottom: none;
}
