.main_page {
  height: 100%;
  max-width: 780px;
  margin: auto;
}

.main_page .app_header {
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
}

.main_page .app_name {
}

.main_page .show_icon {
  border: none;
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
.main_page .app_name h2 {
  background-color: white;
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.main_page .btn {
  background-color: white;
  border: solid 2px black;
  width: 100%;
  margin: 0px;
  padding: 40px 10px;
  font-size: 20px;
  color: black;
}

.main_page .btn span {
  font-size: 16px;
}

.main_page .top_btn {
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.main_page .bottom_btn {
  border-radius: 0 0 10px 10px;
}

.main_page .middle_btn {
  border-bottom: none;
}
