.sentenceContainer {
  position: relative;
  text-align: left;
  border: solid gray 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.sentenceContainer .sentence {
  margin-bottom: 40px;
  margin-top: 4px;
  padding-top: 20px;
}

.sentenceContainer .sentence.no_play_btn {
  margin-bottom: 12px;
  padding-top: 0px;
}

.sentenceContainer .sentence.sentence_rtl {
  text-align: right;
}
