.setting {
  height: 100%;
}
.setting .header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting .back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.setting .back-button svg {
  margin-bottom: -4px;
}

.setting .page_name {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}

.setting .setting_titel {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.setting .wrapper_lang,
.setting .wrapper_selected-voices {
  margin-top: 20px;
  text-align: left;
}

.setting .input_language,
.setting .input_voice {
  display: block;
  line-height: 35px;
}

.setting .review-status {
  height: 5vh;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  color: #888;
}

.setting .card {
  min-height: 85%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.setting .wrapper_selected-voices .voice_test {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}

.setting .wrapper_selected-voices button {
  margin-left: 20px;
  background-color: white;
  border: none;
  font-size: 20px;
}

.setting .wrapper_selected-voices svg {
  font-size: 20px;
  margin-bottom: -6px;
  color: #1e87ff;
}
