html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 100;
  font-size: 15px;
}
p {
  margin: 0;
}

section {
  margin-bottom: 80px;
}

body {
  /* background-color: #cdcdcd; */
  color: #2f3835;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
/* .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */
.container {
  height: 100vh;
  max-width: 780px;
  width: 90vw;
  /* padding: 20px; */
  margin: auto;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
