.selecte_sentence_button {
  position: absolute;
  top: 0px;
  right: 10px;
}

.selecte_sentence_button button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
